/* * {
	margin: 0;
	padding: 0;
}
*/
body {
	font: 13.33px, "Myriad Pro"; 
	background: #f9f9f9;
	margin: 0;
}

.wrapper {
	width: 968px;
 	height: auto;
	margin: 0 auto;
	padding-right: 46px;
    padding-left: 46px;;
    background-color: #fff;;
}
/*.header {
	margin: 50px;
	padding: 50px;	
}
*/
.logo img{
	/*width: 140px;
	height: 50px;*/
	padding: 10px 0;
		} 

 a{
 	display: inline-block;
 	text-decoration: none;
 	font-size: 13.3px;
 	color: black;
 	padding-top: 20px
}

li {
	float: left;
	list-style: none;
	padding: 15px 45px;
	margin: 2px;

	/*border: 1px solid #c8c8c8;*/ 

}
.menu {
	position: relative;
	overflow: hidden;
	background: #424242;
	color: #fff;



}

.sidebar{
	float: left;
	width: 236px;
	height: 238px;


}

.content img{
	float: right;
	width: 484px;
	height: 291px;
}
.frame{
	display: block;
	margin: 0 auto; 
	border: 1px solid #c8c8c8;
	text-align: center;
	/*width: 680px;
	height: 400px;*/
	max-width: 100%;
}
.content p{
	float: right;
	width: 624px;
	height: 119px;
	font-size: 10px;
	font-family: "Myriad Pro";
}

.footer {
	clear: both;
}











