/* Main style
*/
@font-face {
    font-family: "OpenSansRegular";
    src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font: 13.33px, OpenSansRegular, Tahoma, Verdana; 
	background: #f9f9f9;
	color: #2c2c2c;
	margin: 0;
	padding: 0;
}

a {
 	text-decoration: none;
}

ul {
 	margin: 0;
 	padding: 0;
 }

li {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 968px;
 	height: auto;
	margin: 0 auto;
	padding: 0 auto;
    background-color: #fff;
}
.wrapper1 {
	padding: 30px 25px;
}

.logo {
	margin-bottom: 33px;
		} 


.menu {
	overflow: hidden;
	margin-bottom: 40px;
	background: #424242;
	font-size: 0;
	}

.menu a{
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	color: #fff;
	border-left: 1px solid #424242;
	border-right: 1px solid #424242;

}

.menu li {
	display: inline-block;
}

.menu a:hover, 
.menu .active {
	background: #3b3b3b;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
.tools-bar {
	float: left;
	width: 200px;
}

/* --- sidebar -- */

.sidebar {
	border: 1px solid #c8c8c8;
	
}

.sidebar li {
	border-bottom: 1px solid #c8c8c8;
}

.sidebar li:last-child {
	border-bottom: none;
}

.sidebar a{
	display: block;
	padding: 9px 23px;
	color: #656363;
}

.sidebar a:hover,
.sidebar .active {
	padding-left: 34px;
	background: #f9f9f9;
}
.container {
	position: relative;
	overflow: hidden;
}

.content {
	float: right;
	width: 670px;
	margin-bottom: 55px;
}

.content-img{
	padding: 50px 0;
	border: 1px solid #c8c8c8;
	text-align: center;
	margin-bottom: 35px;
	max-width: 100%;
}
.content p{
	float: right;
	padding: 0 24px;
	
}

/*--- footer --- */ 

.footer {
	overflow: hidden;
    background: #e1e1e1;
    padding: 0 24px;
    margin: 0 auto;
    width: 880px;
}

.menu-bottom {
    line-height: 40px;
    float: left;
}

.menu-bottom li {
    display: inline-block;
    margin-right: 90px;
}

.menu-bottom a {
    color: #2c2c2c;
}

.menu-bottom a:hover,
.menu-bottom .active {
    text-decoration: underline;
}

.copyright {
    line-height: 40px;
    float: right;
}












