body{
  background: #f5ebfa;
  width: 100%;
}
.content {
  width: 750px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
* {
  list-style: none;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.carousel-item {
  display: block;
  float: left;
}
.carousel-item img {
  max-width: 600px;
}
.carousel-list {
  position: relative;
  width: 10000px;
}
.carousel-hider {
  float: left;
  width: 600px;
  height: 449px;
  overflow: hidden;
}
.carousel-arrow-left,
.carousel-arrow-right {
  display: block;
  float: left;
  padding: 2px;
  border: 2px solid #41c8d0;
  cursor: pointer;
  border-radius: 10px;
}
.carousel-arrow-left {
  margin-right: 25px;
  color: #41c8d0;  
}
.carousel-arrow-right {
  margin-left: 25px;
  color: #41c8d0;  
}


.info {
  width: 750px;
  height: auto;
  margin: 0 auto; 
  padding: 20px;
  border: 2px solid #f7baf3;
  border-radius: 15px;
  text-align: center;
  color: #b651b0;  
  font-family: Arial, Tahoma sans-serif;
  line-height: 1.5;

}
.title {
  text-align: center;
}
.my-name {
  padding-left: 100px;
}
.my-name,
.my-surname {
  font-size: 30px;
}
a {
  text-decoration: none;
  color: #b651b0;
}
.email,
.phone {
  display: block;
  text-align: center;
  font-size: 24px;
  padding-left: 100px;
  text-decoration: none;
}
.email:hover,
.phone:hover {
  color: #4e124a;
}
.college {
    display: block;
  font-size: 24px;
  padding-left: 100px;
}
.country,
.city {
  display: block;
  font-size: 22px;
}
.img {
  width: 300px;
  padding-left: 126px;
}
.title {
  display: none;
}


