body{
  background: #bcf8e6;
}
.content {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
* {
  list-style: none;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.carousel-item {
  display: block;
  float: left;
}
.carousel-item img {
  max-width: 600px;
}
.carousel-list {
  position: relative;
  width: 10000px;
}
.carousel-hider {
  float: left;
  width: 600px;
  height: 449px;
  overflow: hidden;
}
.carousel-arrow-left,
.carousel-arrow-right {
  display: block;
  float: left;
  padding: 2px;
  border: 2px solid #41c8d0;
  cursor: pointer;
  border-radius: 8px;
  
}
.carousel-arrow-left {
  margin-right: 25px;
  color: #000;  
}
.carousel-arrow-right {
  margin-left: 25px;
  color: #000;  
}

.fancybox-modal {
	position: absolute;
    width: 620px;
	height: 380px;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -210px;
	text-align: center;
	background: #000;
}
.fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}