* {
	margin: 0;
	padding: 0;
}
.timer {
	padding-top: 20px;
	font-size: 60px;
	text-align: center;
}
.timerbutton {
	text-align: center;
}
button {
	font-size: 35px;
	background-color: blue;
}
.split {
	width: 700px;
	margin: 0 auto;
}