* {
	box-sizing: border-box;
}
@font-face {
    font-family: "lucida_sans_unicoderegular";
    src: url("fonts/lucida_sans_unicoderegular.eot");
    src: url("fonts/lucida_sans_unicoderegular.eot?#iefix") format("embedded-opentype"), 
    url("fonts/lucida_sans_unicoderegular.woff") format("woff"), 
    url("fonts/lucida_sans_unicoderegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body, html {
	font: normal 14px/18px 'lucida_sans_unicoderegular', Arial, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
	min-width: 910px;
}
.wrapper1 {
	display: table-row;
	height: 100%;
}
.container {
	width: 910px;
	padding: 0 10px;
	margin: 0 auto;
}

/* --- HEADER --- */ 
header {
	width: 100%;
	height: auto;
	margin: 5px 10px 5px 0;
}
.header {
	padding-bottom: 5px;
	padding-top: 10px;
}
.contacts {
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 35%;
	margin-top: 5px;
	margin-left: 10px;
}
.contacts img {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #0f3b60;
	border-radius: 100%;
	border-color: #0f3b60;
}
.contacts a{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: #5e696d;
}
.enter{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 5px;
	padding: 2px 0 3px 5px;
    background: rgb(31,102,133);
    background: -moz-linear-gradient(top,  rgba(31,102,133,1) 0%, rgba(13,52,88,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(31,102,133,1) 0%,rgba(13,52,88,1) 100%);
    background: linear-gradient(to bottom,  rgba(31,102,133,1) 0%,rgba(13,52,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0d3458',GradientType=0 );
    box-shadow: 2px 3px 0px 0px rgba(122,122,122,0.5);	
}
.login{
	float: left;
	background-size: 15px;
	padding-left: 5px;
}
.enter input {
	font-size: 10px;  
	width: 110px;
	position: relative;
}
.enter img {
	display: inline-block;
	vertical-align: middle;
} 
.enter input.enter1 {
	background: none;
	border: none;
	color: #fff;
	display: inline-block;
	width: 30px;
    padding: 5px 2px;
    cursor: pointer;
}
.enter1:hover {
	color: #fff;
	opacity: 0.6;
}
.enter a span {
	color: #bfbfbf;
	text-decoration: underline;
	padding: 0 5px;
}
.enter a {
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
}
.enter span.reg {
	border-left: 1px solid #fff;
	color: #fff;
	padding-left: 7px;
}
.login a:hover {
	color: #fff;
	opacity: 0.6;
}	
.home {
	float: right;
	border: 1px solid #d3d8da;
	margin-right: 10px;
	padding: 5px 12px;
	border-radius: 15px;
}
.home a {
	font-size: 12px;
	vertical-align: middle;
}
.logo img{
	display: block;
	margin-top: 10px;
	width: 100%;
}
.home a:hover {
	color: #fff;
	opacity: 0.6;
}
/* --- main -- */
.main {
	display: block;
	width: 100%;
	min-width: 910px;
}
.menu {
	display: inline-block;
	background: #1b1d20;
	border-radius: 7px;
}
.menu-main{
	padding-left: 20px;
}
.menu li,
.menu ul {
	display: inline-block;
	vertical-align: middle;
}
.menu ul {
	padding-right: 15px;
	margin: 5px 0;
}
.menu a{
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.menu li:hover {
	background-color: #124569; 
	color: #fff;
	opacity: 0.6;
	border-radius: 10px;
} 
.buy {
	display: inline-block;
	vertical-align: middle;
	float: right;
	padding-right: 20px;
	font-size: 12px;
}
.buy img {
	position: relative;
	display: inline-block;
	top: 10px;
}
.num{
	color: #fff;
	padding-top: 12px;
	display: inline-block;
	vertical-align: middle;
}
.koshyk{
	color: #fff;
	padding-left: 15px;
	display: inline-block;
	vertical-align: middle;
	padding-top: 12px;
}
.num:after {
	display: inline-block;
	vertical-align: middle;
	content: "0";
	padding-left: 5px;
	color: #0d5a8f;
}
.koshyk:after{
	display: inline-block;
	vertical-align: middle;
	content:"0.00 грн";
	padding-left: 5px;
	color: #0d5a8f;
}
.boxChoice img {
	padding-left: 5px;
	display: inline-block;
}
/*--- sidebar --- */ 
.sidebar-left{
	float: left;
	width: 180px;
/*	display: inline-block;*/
	margin-top: 10px;
}
.sidebar-title{
	border: 1px solid #79878d;
	border-radius: 18px;
	display: inline-block;
	width: 165px;
	padding: 1px 2px 3px 1px;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.sidebar-title img {
	position: relative;
	top: 5px;
	padding-left: 2px;
}
.catalog {
	float: left;
	background-size: 22px;
	background-position: 2px 2px;
}
.sidebar-title p{
	font-size: 12px;
}
.filterBox{
	margin-top: 10px;
}
.filterBox ul li a{
	text-decoration: none;
	color: #465961;
	font-size: 14px;
	padding-top: 10px;
}
.filterBox li{
	padding-top: 12px;
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 25px;
}
.filterBox a:hover{
	text-decoration: underline;
	color:#0c3256;
	font-style: italic;
	font-size: 14px;
	font-weight: 600;
	width: 148px;
}
.box {
	background-size: 20px;
	background-position: 5px 3px;	
}
.filterTitle {
	border: 1px solid #79878d;
	border-radius: 18px;
	width: 148px;
}
.filterTitle p {
	padding-left: 5px;
	font-size: 12px;
}
.filterTitle img {
	position: relative;
	top: 4px;
	padding-left: 2px;
	padding-right: 3px;
}
/* -- content -- */ 
.content{
	float: left;
	background: rgb(228,231,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(228,231,232,1) 1%, rgba(148,167,176,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(228,231,232,1) 1%,rgba(148,167,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(228,231,232,1) 1%,rgba(148,167,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#94a7b0',GradientType=0 ); /* IE6-9 */
	margin-top: 10px;
	display: block;
	width: 525px;
	border-radius: 3px;
}
.price p {
	font-size: 16px;
	text-align: center;
	color:#114165;
	font-style: italic;
	font-weight: bolder;
}
.item{
	display: inline-block;
	text-align: center;
    width: 138px;
    margin: 15px;
}
.item img{
	display: table;
	text-align: center;
	border: 2px solid #b0b9bc;
	border-radius: 13px;
	padding: 3px 34px 3px 34px;
	background: #fff;
}
.item p {
	text-align: center;
	color:#114165;
	font-style: italic;
	font-weight: bolder;
}
.item a{
	display: block;
	text-decoration: none;
	color:#114165;
}
.item span{
	font-size: 14px;
}
.item a:hover {
	color: #fff;
	opacity: : 0.6;
}

/* -- sidebar-right -- */
.sidebar-right{
	float: right;
	width: 200px;
	margin-top: 10px;
}
.sidebar-right li{
	margin-left: 5px;
	color: #465961;
	list-style: none;
}
input[type="checkbox"]{
    margin-right: 15px;
}
input[type="submit"]{
	background: rgb(31,101,133); 
	background: -moz-linear-gradient(top,  rgba(31,101,133,1) 0%, rgba(13,52,88,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0d3458',GradientType=0 ); /* IE6-9 */
	margin: 2px;
	padding: 7px 13px 7px;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	border: none;
}

.choise:hover {
	color: #0c3256;
	opacity: 1;
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

/* -- brands -- */ 
.brands {
	display: inline-block;
	width: 100%;
}
.brands ul {
	text-align: center;	
}
.brands li {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	margin-top: 15px;
}

/* --- FOOTER ---*/ 
footer {
	overflow: hidden;
	height: 100px;
	text-align: center;
}
footer .container {
	padding-top: 20px;
	padding-bottom: 60px;
	background: #213a4d;
}
footer p{
	padding-top: 10px;
	color: #754542;
}
.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list a{
	color: #fff;
	text-decoration: none;
}
.list a:hover {
	color: #52abcb;
}
.list li {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #bec6c9;
}
.list li:last-child{
	border-right: none;
}
