*{
	margin: 0;
	padding: 0;
}
body {
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    font: 10px normal Verdana, Arial, Helvetica, sans-serif;
    color: #444;
}
.container {
    width: 500px; 
    margin: 10px auto;
}
ul.tabs {
    margin: 0;
    padding: 0;
    height: 30px;
    float: left;
    list-style: none;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 32px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #e0e0e0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
 ul.tabs li.active,  ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tabContainer {
    width: 100%;
	float: left;
	border: 1px solid #999;
    border-top: none;
    clear: both;
    background: #fff;
}
.tabContent {
    padding: 20px;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;   
}
.tabContent a{
    color: #254588;
}